@media (max-width: 1364px) and (min-width: 760px) {
    .container {
        width: 688px;
    }

    /* Typography */

    h1 {
        font-size: 36px;
        line-height: 43.2px;
    }

    h2 {
        font-size: 28px;
        line-height: 33.6px;
    }

    h4 {
        font-size: 18px;
        line-height: 18px;
    }

    /* Header */
    
    nav {
        display: none;
    }

    .menu-button {
        display: block;
    }

    /* Banner */

    .banner {
        height: 45vh;
    }

    .banner-title {
        width: 40vw;
    }

    .banner-text {
        display: none;
    }

    .banner-text-block {
        margin-left: 30vw;
        margin-top: 2vh;
        gap: 1vh;
    }

    /* Second block */ 
    .second-text-block {
        margin-left: 0;
    }

    .second-block {
        align-items: flex-start;
    }

    /* Cards block */

    .third-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .cards-col {
        width: 100%;
    }

    /* Footer */
    footer {
        padding: 2vh 2vw 3vh 2vw;

    }

    .lists-block {
        width: 70%;
    }

    /* Menu */ 

    .tablet-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: #ffffff;
        width: calc(100% - 6vw);
        height: 100%;
        z-index: 1;
        padding: 2vh 3vw;
    }

    .tablet-menu-nav {
        display: flex;
        justify-content: space-between;
    }

    .tablet-menu-list {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-top: 2vh;
    }

    .tablet-menu-list .list {
        align-items: center;
    }

    /* Arrow button */

    .arrow-button-less {
        background-color: var(--main);
        border: 1px solid var(--disabled-button);
        border-radius: 100%;
        width: 48px;
        height: 48px;
        display: flex;
        position: fixed;
        right: 5vw;
        bottom: 17vh;
    }

    /* Quiz */

    .quiz-question {
        padding: 2vh 4vw;
    }

    .quiz-img {
        width: 25%;
    }
}